body {
    max-width: 1342px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 0;
}

.logo {
    width: 100px;
    height: auto;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5% 7.5% .35% 7.5%;
}  

.nav_links {
    display: none;
}

/* --- Mobile Menu --- */
.menuBtn {
    color: rgb(39, 39, 39);
}
    
#myLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
    
.mLink {
    background-color: rgb(39, 39, 39);
    border:rgb(39, 39, 39) solid 1px;
    color: white;
    width: 85%;
    margin-left: 7.5%;
    margin-bottom: .25%;
    text-decoration: none;
}

/* --- Fixes Space between Nav / Images --- */
.btn-container {
    display: none;
}

/* About Page --- Mobile */
#aboutContainer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    width: 85%;
}

.selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320.75px;
    height: 428.94px;
    border: solid   rgb(39, 39, 39)   1px;
    box-shadow: 3px 3px 3px rgba(158, 157, 157, 0.438);
}

/* --- 651 to 900 Pixel Changes --- */
@media screen and (min-width: 651px) {
/* --- Navigation Menu for Desktop / Tablet --- */
    .nav_links {
        display: block;
        margin-bottom: 0%;
    }
    
    .nav_links li {
        display: inline-flex;
    } 
    
    .link  {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0px 0px 0px 10px;
    }
    
    .link:hover {
        color:rgb(136, 241, 255);
    }
/* --- Hides Mobile Nav --- */
    .menuBtn {
        display: none;
    }

    #myLinks {
        display: none !important;
    }

/* --- Changes 900 to 1500 Pixel --- */
@media screen and (min-width: 900px) {

/* --- About Page --- */
    #aboutContainer {
        flex-direction: row;
    }

/* --- CSS Hide Features for Javascript --- */
.hidden {
    display: none;
}

.btnHide {
    visibility: hidden;
} 