/* Obviously not "Mobile First", but I was just wanting to 
get the hang writing something things. It turned into more then
I meant for it to become. Restart? Rework the code for Mobile? */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
}

body {
    display: block;
    justify-content: center;
    flex-direction: column;
    max-width: 1500px;
    margin:auto;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 7.5% 7px 7.5%;
    padding-top: 20px;
}    

/* --- Nav Bar and Logo --- */
            /* --- Gotta figure out the stacked menu for smaller screens --- */
.logo {
    text-decoration: none;
    color: rgb(39, 39, 39);
}

.link {
    text-decoration: none;
    color:rgb(39, 39, 39);
}


a.link:hover {
    color:rgb(136, 241, 255);
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 10px 0px 0px 20px;
}

/* --- Carousel Gallery --- */
            /* Messin' with Smaller Screen Sizes */ 
@media screen and (min-width: 650px) {
            /* --- Can I get this to scale the carousels size down as 
                    the browsers width gets smaller? --- */
.carousel-container{
    display: flex;
    width: 85%;
    margin: auto;
    overflow: hidden;
    border: solid 2px rgb(39, 39, 39);
}

.carousel-slide{
    display: flex;
    height: 850px;
    width: auto;
}

}

/* ---Button --- */

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* - Works when not over image, breaks when over image??? See %%% in #prev/nextBtn */
    margin-top: 35%;
    z-index: 5;
    color:rgb(75, 75, 75);
    background-color: rgba(39, 39, 39, 0);
    cursor: pointer;
}
            /* - Buttons Act odd with websites width - */
#prevBtn {
    display: flex;
    background-color: rgba(139, 0, 0, 0);
    margin-left: 200%; /* What's the deal with these %%%? */
}

#nextBtn {
    display: flex;
    margin-left: 7500%; /* What's the deal with these %%%? */ 
    background-color: rgba(39, 39, 39, 0);
}

/* Images */
            /* --- Messing with Mobile / Smaller Screen Layout ---
                   This is working well, except the extra space above
                   the photos in the body... */
@media screen and (max-width: 650px) {
.px {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 85%;
    height: auto;
    border: solid   rgb(39, 39, 39)   1px;
    box-shadow: 3px 3px 3px rgba(158, 157, 157, 0.438);
    }    

}  
            /*  - Currently only used for gallery.html  - */
.Kristy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto;
    border: solid   rgb(39, 39, 39)   1px;
    box-shadow: 3px 3px 3px rgba(158, 157, 157, 0.438);
        } 
