/* Obviously not "Mobile First", but I was just wanting to 
get the hang writing something things. It turned into more then
I meant for it to become. Restart? Rework the code for Mobile? */
/* * {
    border: 1px solid red;
} */

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1500px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0;
    padding-top: 0;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -.5% 7.5% -1% 7.5%;
}    

/* --- Nav Bar and Logo --- */
            /* --- Gotta figure out the stacked menu for smaller screens --- */
.logo {
    text-decoration: none;
    color: rgb(39, 39, 39);
}

.nav_links {
    margin-bottom: 2.25%;
}

.nav_links li {
    display: inline-flex;
}  

.link  {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 0px 0px 10px;
}

.link:hover {
    color:rgb(136, 241, 255);
}


@media screen and (max-width: 650px) {
    .px {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
        width: 85%;
        height: auto;
        border: solid   rgb(39, 39, 39)   1px;
        box-shadow: 3px 3px 3px rgba(158, 157, 157, 0.438);
        }    
}

/* --- Carousel Gallery --- */
            /* Messin' with Smaller Screen Sizes  */
@media screen and (min-width: 650px) {
            /* --- Can I get this to scale the carousels size down as 
                    the browsers width gets smaller? --- */
    .carousel-container{
        display: flex;
        width: 85%;
        margin: auto;
        overflow: hidden;
        border: solid 2px rgb(39, 39, 39);
        position: relative;
    }

    .carousel-slide {
        display: flex;
        width: auto;
    }

    .carousel-slide img{
        width: auto;
        height: 850px;
    }

    .btn-container {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 35%;
        z-index: 5;
        color:rgb(75, 75, 75);
        background-color: rgba(39, 39, 39, 0);
        cursor: pointer;
        width: 100%;
    }

    #prevBtn {
        margin-left: 1.5%;
    }

    #nextBtn {
        margin-right: 1.5%;
    }


}

/* --- Hides Button on Mobile --- */
@media screen and (max-width: 650px) {
    .btn-container {
        display: none;
    }
}

/* --- Here for "About" page */
.px1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 85%;
    height: auto;
    border: solid   rgb(39, 39, 39)   1px;
    box-shadow: 3px 3px 3px rgba(158, 157, 157, 0.438);
    }

/* --- Contact Page Stuff -- */
.self_px {
    width: 25%;
    border: solid 2px rgb(39, 39, 39);
    box-shadow: 3px 3px 3px rgba(158, 157, 157, 0.438);
    margin-left: 7.5%;
}

form {
    float: right;
    width: 57%;
    margin-right: 7.5%;
}

input[type=text], select {
    margin-bottom: 2%;
    display: inline-block;
    border: 2px solid rgb(39, 39, 39);
    padding: 12px;
    margin-top: 0;
    margin-bottom: 1.5%;
    width: 65%;
}
                        /*----- (Form) Not Happy with how things are lining up visually ---*/
textarea {
    resize: none;
    border: solid 2px rgb(39, 39, 39);
    width: 67.35%;
    height: 200px;
}

.submit {
    float: right;
    margin-right: 31.75%;
    margin-top: 1%;
    background-color:white;
    border: solid 2px rgb(39, 39, 39);
    width: 15%;
    height: 25px;
}

.submit:hover {
    cursor: pointer;
    background-color: skyblue;
}

.hidden {
    display: none;
}

    /* Old Code, Might need.... {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
}  --- I don't think I need this anymore ---

.Kristy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto;
    border: solid   rgb(39, 39, 39)   1px;
    box-shadow: 3px 3px 3px rgba(158, 157, 157, 0.438);
        } 

 .link {
    text-decoration: none;
    color:rgb(39, 39, 39);
}


a.link:hover {
    color:rgb(136, 241, 255);
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 10px 0px 0px 20px;
}       

/*
.contactFlex {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
}

.address {
    align-self: center;
    letter-spacing: 1.5px;
    
}

.contactForm {
    display: block;
    margin:auto;
}

.formName {
    display: inline-block;
}

*/