body {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%; /* 0 for desktop */
    padding-top: 0;
}

.logo {
    width: 100px;
    height: auto;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5% 7.5% .35% 7.5%;
}  

.nav_links {
    display: none;
    margin-bottom: 0%;
}

.nav_links li {
    display: inline-flex;
} 

.menuBtn {
    color: rgb(39, 39, 39);
}

#myLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.mLink {
    background-color: rgb(39, 39, 39);
    border:rgb(39, 39, 39) solid 1px;
    color: white;
    width: 85%;
    margin-left: 7.5%;
    margin-bottom: .25%;
    text-decoration: none;
}

/* Home Page --- Mobile (>650px) */
.px {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 85%;
    height: auto;
    border: solid   rgb(39, 39, 39)   1px;
    box-shadow: 3px 3px 3px rgba(158, 157, 157, 0.438);
    }   
    /* --- Fixes Trnaisiton Bug from Carousel --- */
/* .carousel-slide {
    transition: none !important;
    transform: none !important;
}     */
    /* --- Hides Buttons --- */
.btn-container {
    display: none;
}    
/* About Page --- Mobile (>650px) */
#aboutContainer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    width: 85%;
}

.bio_title {
    margin-left: 4%;
    margin-top: 10px;
}

.bio {
    margin-left: 4%;

}

.selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320.75px;
    height: 428.94px;
    border: solid   rgb(39, 39, 39)   1px;
    box-shadow: 3px 3px 3px rgba(158, 157, 157, 0.438);
}

/* Contact Page --- Mobile */
.contact_container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
}

.text_container {
    margin-right: 7.5%;
    width: 450px;
}

.contact_label {
    font-size: 1.2rem;
    font-weight: bold;
}

.contact_text {
    font-size: 1.075rem;
    margin-left: 7.5%;
    margin-top: -3.5%;
    font-style: oblique;
}

form {
    width: 450px;
    margin-right: 7.5%;
}

input[type="text"] {
    margin-bottom: 2%;
    border: 2px solid rgb(39, 39, 39);
    padding: 12px;
    width: 75%;
}

textarea {
    resize: none;
    border: solid 2px rgb(39, 39, 39);
    width: 358.5px;
    height: 200px;
}

.submit {
    float: right;
    margin-right: 21.50%;
    margin-top: 1%;
    background-color:white;
    border: solid 2px rgb(39, 39, 39);
    width: 15%;
    height: auto;
}

.submit:hover {
    cursor: pointer;
    background-color: skyblue;
}

/* --- 651 to 900 Pixel Changes --- */
@media screen and (min-width: 651px) {
    .carousel-container{
        display: flex;
        width: 85%;
        margin: auto;
        overflow: hidden;
        /* border: solid 2px rgb(39, 39, 39); */
        position: relative;
    }

    .carousel-slide {
        display: flex;
        width: auto;
    }

    .carousel-slide img{
        width: auto;
        height: 850px;
    }

    .btn-container {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 35%;
        z-index: 5;
        color:rgb(75, 75, 75);
        background-color: rgba(39, 39, 39, 0);
        cursor: pointer;
        width: 100%;
    }

    #prevBtn {
        margin-left: 1.5%;
    }

    #nextBtn {
        margin-right: 1.5%;
    }
}